.navbar{
    background-color:brown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbar h1{
    margin-left: 20px;
}